img.hotelImage{
    height: 150px;
    max-width: 150px;
    pointer-events: none;
    padding: 6px;
 }
 .title{
    font-weight: bold;
    text-transform: uppercase;
 }
 .content{
    padding: 8px;
    background-color: #ffffff;
    border: 1px rgb(168, 166, 166) solid;
    border-radius: 10px;
    background-color: white;
    margin:5px;
    padding: 2px;
 
 }